.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.dateCardContainer {
	/* border: 1px solid grey; */
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 20px;
	flex-flow: row wrap;
	padding: 2rem;
}

/* .dateCard {
	border: 1px solid gray;
	width: 10rem;
	height: 10rem;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 250ms;
} */

/* .dateCard:hover {
	border: 0px solid white;
	cursor: pointer;
	background-color: lightgray;
	color: black;
	transform: scale(1.2);
} */

/* .date {
	font-size: 5rem;
} */

.pushable {
	background: hsl(340deg 100% 32%);
	border-radius: 12px;
	border: none;
	padding: 0;
	cursor: pointer;
	outline-offset: 4px;
}
.front {
	display: block;
	padding: 12px 42px;
	border-radius: 12px;
	font-size: 1.25rem;
	background: hsl(345deg 100% 47%);
	color: white;
	transform: translateY(-6px);
}

.pushable:active .front {
	transform: translateY(-2px);
}
